body {
    background-color: purple;
}
main{
    display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        align-items: center;
}
.folder{
    min-width: 40px;
    width: 30%;
 
}
.folder img{
   width: 100%;
}